body {
background-color: lightblue
}

h1 {
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

h2 {
    color: pink;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

h3 {
    color: yellow;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

h4 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

.about {
    text-align: center;
}

.navbar {
    overflow: hidden;
    background-color: peachpuff;
}

.navbar ul {
    margin: 0;
    padding: 0;
}

.navbar li {
    display: block;
}

.navbar a {
    float: left;
    text-decoration: none;
    color: white;
    padding: 14px 16px;
    font-size: 18;
}

.navbar a:hover {
    background-color: lavender;
    color: black;
}

.values {
    border-style: solid;
    height: 100;
    width: 200;
}

.values ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}