body {
background-color: lightblue
}

h1 {
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

h2 {
    color: pink;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

h3 {
    color: yellow;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

h4 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

.navbar a {
    float: left;
    display: block;
    padding: 8px;
    background-color: peachpuff;
}

.navbar a:hover {
    background-color: lavender;
}

.navbar a:active {
    background-color: lavenderblush;
}