body {
background-color: lightblue
}

h1 {
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

h2 {
    color: pink;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

h3 {
    color: yellow;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

h4 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

.about {
    text-align: center;
}

.navbar {
    overflow: hidden;
    background-color: peachpuff;
}

.navbar li {
    display: block;
}

.navbar a {
    float: left;
    text-decoration: none;
    color: white;
    padding: 8px;
    font-size: 21;
}

.navbar a:hover {
    background-color: lavender;
    color: black;
}