body {
    background-color: lightblue
    }
    
    h1 {
        color: white;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
    }
    
    h2 {
        color: pink;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
    }
    
    h3 {
        color: yellow;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
    }
    
    h4 {
        color: blue;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
    }